/* menú desplegable "dropdown" header */
.dropdown-item{
    position: relative;
}

.dropdown-item .dropdown-menu{
    display: none;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 2px 2px 5px rgb(75, 73, 73);
    position: absolute;
    min-width: 150px;
}

.dropdown-item:hover .dropdown-menu{
    display: block;
}

.dropdown-item:hover .dropdown-menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: left;
}
/*--------------*/


/* CONTENIDO SECTION */

h1{
    text-align: center;
    font-family: 'Black Ops One', cursive;
}
h2{
    text-align: center;
}

section{
    padding: 120px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 10%;
    margin-top: 2%;
    background-color: rgba(165, 212, 212, 0.185);
    border-color: black;
    border-style: solid;
    border-right: 2px;
}
p{
    padding: 50px;
    margin: 10px;
    border-radius: 10px;
    color: rgba(216, 243, 216, 0.795);
    background-color: rgba(41, 92, 94, 0.596);
}
div{
    text-align: center;
}
img {
    width: 90%;
    height: auto;
  }
  
  @keyframes show {
      from {
          opacity: 0;
          scale: 25%;
      }
  
      to {
          opacity: 1;
          scale: 100%;
      }
  }
  
  img {
      view-timeline-name: --image;
      view-timeline-axis: block;
  
      animation-timeline: --image;
      animation-name: show;
  
      animation-range: entry 25% cover 30%;
      animation-fill-mode: both;
  }
   footer{
    margin: 10px;
    padding: 20px;
    
   }