
/* menú desplegable "dropdown" header */
.dropdown-item{
    position: relative;
}

.dropdown-item .dropdown-menu{
    display: none;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 2px 2px 5px rgb(75, 73, 73);
    position: absolute;
    min-width: 150px;
}

.dropdown-item:hover .dropdown-menu{
    display: block;
}

.dropdown-item:hover .dropdown-menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: left;
}

/* CONTENIDO SECTION */

h1{
    text-align: center;
    font-family: 'Black Ops One', cursive;
    padding-top: 6%;
    
    background-image: linear-gradient(
    to bottom,
    rgba(112, 68, 216, 0.5),
    rgba(136, 175, 114, 0.5)
  ), url(https://images.pexels.com/photos/15286/pexels-photo.jpg?auto=compress&cs=tinysrgb&w=600);
}
section{
    border-color: cadetblue;
    border-style: solid;
    border-right: 5px;
    padding: 10px;
    margin: 50px;
}

/*parrafo*/
article{
    padding: 130px;
    padding-top: 5%;
    padding-bottom: 5px;
}
p{
    padding: 130px;
    padding-top: 0%;
    padding-bottom: 5px;
}