/* menú desplegable "dropdown" header */
.dropdown-item{
    position: relative;
}

.dropdown-item .dropdown-menu{
    display: none;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 2px 2px 5px rgb(75, 73, 73);
    position: absolute;
    min-width: 150px;
}

.dropdown-item:hover .dropdown-menu{
    display: block;
}

.dropdown-item:hover .dropdown-menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: left;
}

/* CONTENIDO SECTION */

h1{
    text-align: center;
    font-family: 'Black Ops One', cursive;
    padding-top: 3%;
    padding-bottom: 1%;
    
}

/*editando contenido*/
article{
    padding: 4%;
}

section{
   
}
